jumbotron {
  text-align: center;
}

#intro {
  text-align: center;
}

.name {
  margin-bottom: 40px;
}

h3 {
  border-bottom: 2px solid black;
}

img {
  width: 45%:
}

#salary, #how-much {
  margin-bottom: 40px;
}

/*.results {
  display: none;
}*/
