.jumbotron {
  background-color: #00b3b4;
  color: white;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #666;
}

#intro {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 5px solid #666;
  margin-bottom: 50px;
}

.name, #salary {
  margin-bottom: 40px;
}

h3 {
  border-bottom: 2px solid #666;
}

#submit {
  background-color: #00b3b4;
  font-family: 'Raleway', sans-serif;
  color: white;
  width: 100%;
}

.modal-header {
  background-color: #00b3b4;
  color: white;
}
.img-responsive {
  width: 35%;
  display: inline-block;
  margin-right:140px;
  float: right;
}

.user-name {
  text-transform: capitalize;
}
